/* static/css/event_list.css */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.event-card {
    background-color: #fff;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: transform 0.2s;
    width: 300px; /* ou 22% para responsividade */
}

.event-card:hover {
    transform: scale(1.05);
}

.event-image {
    width: 100%;
    height: 200px; /* ajuste conforme necessário */
    background-size: cover;
    background-position: center;
}

.event-info {
    padding: 15px;
}

.event-info h3 {
    margin-top: 0;
}

/* Adiciona estilos para os botões e outros elementos conforme necessário */