body {
    background-color: #0f2027; /* Dark background for better contrast */
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}
header {
    background: transparent; /* Remove qualquer fundo, tornando-o completamente transparente */
    padding: 10px 0; /* Remove o padding horizontal */
}

.navbar {
    display: flex;
    justify-content: space-between; /* Mantém os itens espaçados entre si */
    align-items: center;
    width: 100%;
    padding-left: 15%; /* Ajuste conforme a alinhamento dos eventos */
    padding-right: 15%; /* Alinha os links à direita */
    background: none !important; /* Assegura que não há fundo */
}

.navbar-brand {
    text-align: left;
    flex-grow: 1;
}

.navbar-nav {
    display: flex;
    list-style: none; /* Remove estilos de lista */
    margin: 0; /* Remove margens padrão */
    padding-left: 0; /* Remove padding padrão à esquerda */
    gap: 20px; /* Espaçamento entre os links */
}

.nav-item {
    padding: 0 10px; /* Espaçamento horizontal entre os itens do menu */
}

.nav-link {
    color: #fff; /* Cor branca para os links */
    padding: 8px 12px; /* Espaçamento interno para os links */
}

.nav-link:hover {
    color: #28a745; /* Cor ao passar o mouse */
}

/* Remoção de estilos desnecessários do Bootstrap que podem afetar o alinhamento */
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

/* Estilos para garantir responsividade */
@media (max-width: 992px) {
    .navbar {
        padding-left: 10px; /* Reduz o padding em telas menores */
        padding-right: 10px; /* Reduz o padding em telas menores */
        justify-content: space-between; /* Assegura que os itens estejam bem distribuídos */
    }
    .navbar-nav {
        justify-content: center; /* Centraliza os links em telas menores */
    }
}
.search-section {
    padding: 20px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

.search-title {
    font-size: 2em;
    margin-bottom: 10px;
    color: #fff;
    font-weight: 600;
}

.search-subtitle {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #28a745;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: none;
    width: 300px;
}

.search-button {
    padding: 10px 20px;
    border-radius: 0 5px 5px 0;
    border: none;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
}

.search-button:hover {
    background-color: #218838;
}

#event-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1100px;
}

.card {
    background-color: transparent;
    border: none;
    position: relative;
    width: 100%;
    max-width: 320px;
    height: auto;
}

.card-img {
    border-radius: 10px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-img-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    border-radius: 10px;
}

.card-title {
    font-size: 1.2em;
    color: #fff;
}

.card-date {
    font-size: 0.9em;
    color: #ccc;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.card-link:hover .card-img-overlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3));
}

.card-link:hover .card-title, 
.card-link:hover .card-date {
    color: #fff;
}

.locked-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}


.locked-overlay p {
    margin: 0;
    padding: 10px; /* Adiciona um pouco de espaço ao redor do texto */
    text-align: center; /* Centraliza o texto */
    font-size: 0.9em; /* Ajuste o tamanho da fonte conforme necessário */
}

.locked:hover .locked-overlay {
    display: flex;
}

.modal-header {
    background-color: #28a745;
    color: #fff;
}

.modal-content {
    background-color: #2d2f31;
    color: #fff;
}

.modal-footer .btn-secondary {
    background-color: #444;
    border: none;
}

.modal-footer .btn-secondary:hover {
    background-color: #555;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* Adicione isso ao seu arquivo CSS */

.photos-background {
    background-color: #f0f0f0; /* exemplo de cor de fundo */
    padding: 20px;
}

.greeting {
    font-family: 'Arial', sans-serif;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center; /* Centralizar o texto */
}

.photos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centralizar as fotos */
    gap: 20px;
}

.photo-item {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.photo-item img {
    max-width: 100%;
    border-radius: 8px;
}

.footer {
    background-color: #0f2027;  /* Cor de fundo similar ao restante da página */
    color: #ffffff;  /* Cor do texto */
    padding: 20px 0;
    border-top: 1px solid #218838;  /* Linha sutil no topo do footer */
  }
  
.footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
.footer ul li {
    display: inline;
    margin-right: 15px;
  }
  
.footer ul li a {
    color: #ffffff;
    text-decoration: none;
  }
  
.footer ul li a:hover {
    text-decoration: underline;
  }
  
.footer .text-center p {
    margin: 0;
    font-size: 14px;
  }
  /* Adicione essas linhas ao seu CSS existente */
.card.saved {
    border: 2px solid #28a745;
    transition: border 0.3s;
  }
  
.card .save-icon {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #28a745;
    font-size: 1.5rem;
  }
  
.card.saved .save-icon {
    display: block;
  }
  
.save-photo.animated.bounce {
    animation: bounce 1s;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.saved {
    position: relative;
    animation: save-animation 1s ease-in-out;
}

@keyframes save-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
