body {
    background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}

header .navbar-brand img {
    height: 150px;
    width: auto;
}

.navbar-nav .nav-link {
    color: #28a745 !important;
    font-weight: bold;
    margin-right: 15px;
}

.navbar-nav .nav-link:hover {
    color: #218838 !important;
}

.search-section {
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.search-title {
    font-size: 2em;
    margin-bottom: 10px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.search-subtitle {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #28a745;
    font-family: 'Poppins', sans-serif;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: none;
    width: 300px;
}

.search-button {
    padding: 10px 20px;
    border-radius: 0 5px 5px 0;
    border: none;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
}

.search-button:hover {
    background-color: #218838;
}

.event-card {
    margin-top: 20px;
}

.card {
    background-color: transparent;
    border: none;
    position: relative;
    width: 100%;
    max-height: 300px;
}

.card-img {
    border-radius: 10px;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-img-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    border-radius: 10px;
}

.card-title {
    font-size: 1.2em;
    color: #fff;
    margin: 0;
}

.card-date {
    font-size: 0.9em;
    color: #ccc;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.card-link:hover .card-img-overlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3));
}

.card-link:hover .card-title, 
.card-link:hover .card-date {
    color: #fff;
}

/* Estilos para o modal */
.modal-header {
    background-color: #28a745;
    color: #fff;
}

.modal-content {
    background-color: #2d2f31;
    color: #fff;
}

.modal-footer .btn-secondary {
    background-color: #444;
    border: none;
}

.modal-footer .btn-secondary:hover {
    background-color: #555;
}
