/* home.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
}

.menu {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.event-list {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os cartões de evento verticalmente */
    gap: 20px; /* Espaçamento entre os cartões de evento */
    padding: 20px;
}

.event-card {
    background-color: #ffffff; /* Cor de fundo para os cartões */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidade */
    border-radius: 10px; /* Bordas arredondadas para o cartão */
    overflow: hidden; /* Garante que o conteúdo não vaze para fora do cartão */
    width: 100%; /* Ajusta para a largura total da coluna Bootstrap */
    max-width: 300px; /* Define uma largura máxima para o cartão */
    margin-bottom: 20px; /* Espaçamento entre os cartões de evento */
}

.event-image {
    width: 100%; /* Garante que a imagem cubra a largura do cartão */
    height: 200px; /* Define uma altura fixa para as imagens */
    background-size: cover;
    background-position: center;
}

.event-info {
    padding: 15px; /* Espaço interno ao redor do conteúdo do texto dentro do cartão */
    text-align: left; /* Alinhamento do texto para a esquerda */
}

.logout-button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px; /* Bordas arredondadas para o botão */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 20px auto;
    cursor: pointer;
}

@media (min-width: 768px) {
    .event-list {
        flex-direction: row; /* Organiza os cartões de evento em uma linha na visão de desktop */
        flex-wrap: wrap; /* Permite que os cartões de evento envolvam em várias linhas */
        justify-content: space-around; /* Distribui espaço entre os cartões de evento */
    }

    .event-card {
        margin: 10px; /* Espaçamento entre os cartões de evento na visão de desktop */
    }
}