/* login.css */

/* Background gradient */
body {
    background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}

/* Center the form */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center; /* Centraliza o texto no container */
}

.logo {
    width: 230px; /* Ajuste o tamanho do logo conforme necessário */
    margin-bottom: 30px;
}

/* Form styles */
.form-group {
    margin-bottom: 20px;
    text-align: left; /* Alinha o texto à esquerda nos grupos de formulário */
}

.form-control {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
}

.form-control:focus {
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    box-shadow: none;
}

.btn-primary {
    background-color: #28a745;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #218838;
}

/* Error message */
.flash-message {
    background-color: rgba(255, 0, 0, 0.2);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}
