/* static/css/login.css */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: #222;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    text-align: center;
    width: 300px; /* Adjust as necessary */
}

.logo {
    margin-bottom: 20px;
}

input[type=email],
input[type=password] {
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    background: #333;
    color: white;
}

input::placeholder {
    color: #bbb;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Creates space between the buttons */
}

button {
    width: calc(50% - 5px); /* Adjust the width as necessary */
    padding: 12px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    transition-duration: 0.4s; /* Transition for hover effect */
}

/* Style for the access button */
.btn-acessar {
    background-color: #0d6efd;
}

.btn-acessar:hover {
    background-color: #0b5ed7;
}

/* Style for the registration button */
.btn-cadastro {
    background-color: #28a745; /* Green */
}

.btn-cadastro:hover {
    background-color: #218838;
}

/* Style for the organizer's phrase */
.organizador-frase a {
    color: white; /* Text color */
    font-weight: bold; /* Bold for style matching */
    display: block; /* Ensures the link is on its own line */
    margin-top: 10px; /* Margin at the top */
    text-decoration: none; /* No underline */
}

.organizador-frase a:hover {
    text-decoration: underline; /* Underline on hover */
}