body, html {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.register-container {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px 40px; /* Ajuste do padding para centralização */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px; /* Largura máxima do formulário */
    text-align: center;
}

.register-container h2 {
    margin-bottom: 20px;
    padding-bottom: 10px; /* Espaço extra abaixo do título */
}
input[type="text"],
input[type="email"],
input[type="password"],
button {
    width: 90%; /* Largura ajustada */
    margin: 10px auto; /* Centralização */
    padding: 12px;
    border-radius: 5px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: white;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder {
    color: white; /* Cor branca para os placeholders */
    opacity: 1; /* Garante que a cor não seja transparente */
}

input[type="file"] {
    display: none; /* Oculta o input real */
}



.login-footer {
    margin-top: 15px;
    color: #bbb;
}

.login-footer a {
    color: #0d6efd;
    text-decoration: none;
}

.login-footer a:hover {
    text-decoration: underline;
}

/* Botões gerais do formulário */
.btn-upload {
    width: 90%; /* Garante que ambos os botões ocupem 90% da largura do contêiner */
    padding: 12px;
    margin: 10px auto; /* Centraliza os botões e adiciona espaço acima e abaixo */
    display: block; /* Garante que os botões ocupem a linha inteira */
    border-radius: 5px;
    cursor: pointer;
    text-align: center; /* Centraliza o texto dentro do botão */
}
/* Botões gerais do formulário */
.btn-submit {
    width: 50%; /* Garante que ambos os botões ocupem 90% da largura do contêiner */
    padding: 12px;
    margin: 10px auto; /* Centraliza os botões e adiciona espaço acima e abaixo */
    display: block; /* Garante que os botões ocupem a linha inteira */
    border-radius: 5px;
    cursor: pointer;
    text-align: center; /* Centraliza o texto dentro do botão */
    margin-top: 20px;
}

/* Estilos específicos para cada botão podem ser ajustados conforme necessário */
.btn-submit {
    background-color: #28a745; /* Cor verde para o botão finalizar */
    color: white;
}

.btn-submit:hover {
    background-color: #218838; /* Verde mais escuro ao passar o mouse */
}

.btn-upload {
    background-color: #2a6f9c; /* Cor diferente para o botão de upload */
    color: white;
}

.btn-upload:hover {
    background-color: #181697; /* Verde diferente ao passar o mouse */
}

.login-footer {
    margin-top: 15px;
    color: #bbb;
}

.login-footer a {
    color: #0d6efd;
    text-decoration: none;
}

.login-footer a:hover {
    text-decoration: underline;
}
