<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Snap Ticket{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loading.css') }}">
</head>
<body>
    <header>
        <div class="navbar">
            <a href="{{ url_for('main.home') }}" class="navbar-brand">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Snap Ticket Logo">
            </a>
            <nav class="navbar-nav">
                <a href="{{ url_for('main.my_photos') }}">Minhas Fotos</a>
                <a href="{{ url_for('main.cart') }}">Meu Carrinho</a>
                <a href="{{ url_for('main.logout') }}">Logout</a>
            </nav>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
