<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>

    <div class="login-container">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="SnapTicket Logo" class="logo">
        <!-- Formulário de login -->
        <form action="{{ url_for('main.login') }}" method="post">
            <input type="email" id="email" name="email" placeholder="E-mail" required>
            <input type="password" id="senha" name="senha" placeholder="Senha" required>
            <div class="buttons">
                <button type="submit" class="btn btn-acessar">Acessar</button>
                <!-- Botão para a página de cadastro -->
                <button onclick="location.href='{{ url_for('main.register') }}'" class="btn btn-cadastro">Cadastro</button>
    
            </div>
        </form>
        <!-- Link para a página de cadastro de evento -->
        <p class="organizador-frase">Organizador de evento? <a href="{{ url_for('main.cadastro_evento') }}">Cadastre seu evento aqui</a></p>

    </div>

</body>
</html>