<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fotos do Evento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
 <!-- app/templates/photos.html -->
 {% extends "base.html" %}

 {% block title %}Fotos do Evento{% endblock %}
 
 {% block content %}
 <div class="container mt-5">
     <div class="row">
         {% for photo in photos %}
         <div class="col-md-4 mb-4">
             <div class="card bg-dark text-light">
                 <img src="{{ url_for('static', filename=photo) }}" class="card-img" alt="Foto do Evento">
                 <div class="card-img-overlay d-flex flex-column justify-content-end">
                     <form action="{{ url_for('main.add_to_cart') }}" method="post">
                         <input type="hidden" name="photo_path" value="{{ photo }}">
                         <input type="hidden" name="event_id" value="{{ event_id }}">
                         <button type="submit" class="btn btn-primary">Comprar</button>
                     </form>
                 </div>
             </div>
         </div>
         {% endfor %}
     </div>
 </div>
 {% endblock %}

</body>
</html>
