<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro - SnapTicket</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>
    <div class="register-container">
        <h2>Crie sua conta SnapTicket</h2>
        <form method="post" enctype="multipart/form-data">
            <input type="text" placeholder="Nome" name="nome" required>
            <input type="email" placeholder="E-mail" name="email" required>
            <input type="password" name="senha" placeholder="Senha" required>
            <input type="password" name="confirmar_senha" placeholder="Confirmar senha" required>
            <input type="file" id="selfie" name="selfie" accept="image/*" style="display: none;">
            <label for="selfie" class="btn-upload">Envie uma selfie</label>
            <input type="file" id="selfie" name="selfie" accept="image/*" style="display: none;">
            
            <button type="submit" class="btn-submit">Finalizar cadastro</button>
        </form>
        <div class="login-footer">
            Possui cadastro? <a href="{{ url_for('main.login') }}">Acessar</a>
        </div>
    </div>
</body>
</html>
